.search-container {
    display: flex;    
    background-color: var(--color-background-alt);
    border-radius: 1rem;
    padding: 1rem;
    margin: 1.5rem 0;
}
.search-container:focus-within {
    outline: 1px solid var(--color-purple);
}

.search-input {
    border: none;
    flex-grow: 1;
    background-color: transparent;

    font-size: 1.25rem;
    font-family: var(--font-family-sans-serif);
    font-weight: 600;
    color: inherit;
}
.search-input:focus {
    outline: none;
}