@font-face {
  font-family: 'Inter';
  src: url("/fonts/inter/Inter-VariableFont_slnt\,wght.ttf");
}

@font-face {
  font-family: 'Lora';
  src: url("/fonts/lora/Lora-VariableFont_wght.ttf");
  font-style: normal;
}

@font-face {
  font-family: 'Lora';
  src: url("/fonts/lora/Lora-Italic-VariableFont_wght.ttf");
  font-style: italic;
}

@font-face {
  font-family: 'Inconsolata';
  src: url("/fonts/inconsolata/Inconsolata-VariableFont_wdth,wght.ttf");
}

:root {
  --breakpoint-mobile: 375px;
  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1440px;

  --color-black: #050505;
  --color-grey-100: #1f1f1f;
  --color-grey-200: #2e2e2e;
  --color-grey-300: #3b3b3b;
  --color-grey-500: #828282;
  --color-grey-600: #979797;
  --color-grey-800: #e8e8e8;
  --color-grey-900: #f5f5f5;
  --color-white: #ffffff;
  --color-purple: #a445ed;
  --color-red: #ff5252;

  --font-family-sans-serif: 'Inter', sans-serif;
  --font-family-serif: 'Lora', serif;
  --font-family-monospace: 'Inconsolata', monospace;
}

body.dark-mode {
  --color-background: var(--color-black);
  --color-background-alt: var(--color-grey-100);
  --color-text: var(--color-white);
  --color-highlight: var(--color-purple);
}

body.light-mode {
  --color-background: var(--color-white);
  --color-background-alt: var(--color-grey-900);
  --color-text: var(--color-black);
  --color-highlight: hsla(0, 0%, 0%, 10%);
}

body.font-serif {
  --font-family-base: var(--font-family-serif);
}
body.font-sans-serif {
  --font-family-base: var(--font-family-sans-serif);
}
body.font-mono {
  --font-family-base: var(--font-family-monospace);
}

body {
  margin: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: stretch;
  min-width: 320px;
  min-height: 100vh;

  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-family-base);

  transition: background-color 0.3s ease-in-out;
}


#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

@media screen and (max-width: var(--breakpoint-mobile)) {

}